/qt_ar.qm
/qt_bg.qm
/qt_ca.qm
/qt_cs.qm
/qt_da.qm
/qt_de.qm
/qt_en.qm
/qt_es.qm
/qt_fi.qm
/qt_fr.qm
/qt_gd.qm
/qt_he.qm
/qt_hu.qm
/qt_it.qm
/qt_ja.qm
/qt_ko.qm
/qt_lv.qm
/qt_pl.qm
/qt_ru.qm
/qt_sk.qm
/qt_uk.qm
