/AppxManifest.xml
/btclient.obj
/chatclient.obj
/libEGLd.dll
/libGLESV2d.dll
/main.obj
/Qt5Bluetoothd.dll
/Qt5Cored.dll
/Qt5Guid.dll
/Qt5Svgd.dll
/Qt5Widgetsd.dll
/moc_RobotControl.cpp
/moc_RobotControl.obj
/moc_btclient.cpp
/moc_btclient.obj
/moc_chatclient.cpp
/moc_chatclient.obj
/moc_predefs.h
/RobotControl.exe
/RobotControl.ilk
/RobotControl.obj
/RobotControl.pdb
*.vc.pdb
